header {
	text-align: center;
  	background: url("http://i.imgur.com/lpDsgQt.jpg");
  	background-size: cover;
  	background-position: center;
  	min-width: 100%;
}
body {
	font-family: 'Slabo 27px', serif;
	margin: 0 auto;
}
img {
      object-fit: cover;
      text-align: center;
      margin: 40px 0 0 0;
      border: 5px solid white;
      border-radius: 50%;
      width: 250px;
      height: 250px;
}
div {
	background-size: cover;
	position: relative;
}
header h1 {
  	font-family: 'Londrina Shadow', cursive;
  	font-size: 50px;
  	font-weight: bold;
}
h1 {
	padding: 0 0 40px 0;
	text-align: center;
	font-family: 'Abril Fatface', serif;
	color: white;
}
a {
	color: #87ceeb;
	font-weight: bold;
}
ul {
	padding: 0;
	margin: 0;
}
.about_me {
	padding: 0 100px 20px 100px;
}