<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<p>Here is the list of contact names: </p>
<ul class="list-inline">
	<% @contacts.each do |contact| %>
		<li><%= contact %></li>
	<% end %>
</ul>
</body>