<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link href='/stylesheets/home_style.css' type="text/css" rel='stylesheet'>

	<?PHP
		$event = $_POST['Event'];
		$champion_one = $_POST['Champion One'];
		$champion_two = $_POST['Champion Two'];
	?>



</head>

<body>
	<h1> Welcome to the Bru-lympics </h1>
	<h3> Instructions: </h3>
	<h4> Type in /person_one/person_two/battle_type to make your champions do battle! </h4>
<!-- 	<form>
	<div class="buttons">
		<div class="radio">
			<label>
				<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
				SUMO BATTLE
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
				SPAGHETTI WHIP BATTLE
			</label>
		</div>
		<div class="radio disabled">
			<label>
				<input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
				BOEREWORS EATING COMPETITION
			</label>
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
					assassinating WES
				</label>
				<div class="radio">
					<label>
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
						CROCODILE CHARIOT RACING
					</label>
					<div class="submit">
						<label>
							<input type="submit" value="Submit" checked>
						</label>
					</div>
				</div>
			</div>
		</div>
	</form> -->
	<ul>
		<h5>SUMO BATTLE -> Sumo </h5>
		<h5>SPAGHETTI WHIP BATTLE -> Spaghetti</h5>
		<h5>BOEREWORS EATING COMPETITION -> Boerewors </h5>
		<h5>ASSASSINATING WESLEY -> assassinating </h5>
		<h5>CROCODILE CHARIOT RACING -> Crocodile </h5>
	</ul>
		<h3> 
	<!-- <h4><input type="text" NAME="Event"></h4> -->
	

</div>
<ul>
<h3>Contestants</h3>
<!-- <h4><input type="text" NAME="Champion One"><input type="text" NAME="Champion Two"><input type="submit" name="submit value="login"></h4>
 -->
 <h4><li><img src="/img/aaron.jpg">  Aaron  </li>
	<li><img src="/img/alex.jpg">  Alec  </li>
	<li><img src="/img/alexis.jpg">  Alexis  </li>
	<li><img src="/img/amanda.jpg">  Amanda  </li>
	<li><img src="/img/annelie.jpg">  Annelie  </li>
	<li><img src="/img/brian.jpg">  Brian  </li>
	<li><img src="/img/chris.jpg">  Chris  </li>
	<li><img src="/img/daniel.jpg">  Daniel  </li>
	<li><img src="/img/emily.jpg">  Emily  </li>
	<li><img src="/img/erica.jpg">  Erica  </li>
	<li><img src="/img/ian.jpg">  Ian  </li>
	<li><img src="/img/isabel.jpg">  Isabel  </li>
	<li><img src="/img/jessie.jpg">  Jessie  </li>
	<li><img src="/img/josh.jpg">  Josh  </li>
	<li><img src="/img/julian.jpg">  Julian  </li>
	<li><img src="/img/julianne.jpg">  Julianne  </li>
	<li><img src="/img/khangwelo.jpg">  Khangwelo  </li>
	<li><img src="/img/leila.jpg">  Leila  </li>
	<li><img src="/img/melissa.jpg">  Melissa  </li>
	<li><img src="/img/praise.png">  Praise  </li>
	<li><img src="/img/rachel.jpg">  Rachel  </li>
	<li><img src="/img/rebecca.jpg">  Rebecca  </li>
	<li><img src="/img/richard.jpg">  Richard  </li>
	<li><img src="/img/robert_l.jpg">  Robert_L  </li>
	<li><img src="/img/robert_k.jpg">  Robert_K  </li>
	<li><img src="/img/sammy.jpg">  Sammy  </li>
	<li><img src="/img/sarah.jpg">  Sarah  </li>
	<li><img src="/img/seth.jpg">  Seth  </li>
	<li><img src="/img/tali.jpg">  Tali  </li>
	<li><img src="/img/tebogo.jpg">  Tebogo  </li>
	<li><img src="/img/therveshan.jpg">  Therveshan  </li>
	<li><img src="/img/thobs.jpg">  Thobs  </li>
	<li><img src="/img/wes.jpg">  Wes  </li></h4>
</ul> 
</body>


