h1 {
	text-align: center;
}
h3 {
	text-align: center;
	margin: 40px;
}
h4 {
	text-align: center;
	margin: 40px;
}
ul {
	text-align: center;
	padding: 10px;
}
li {
	display: inline;
}
body {
	text-align: center;
}
img {
	width: 350px;
	height: 350px;
	margin: 40px 40px 10px 40px;
}
.see_results {
	width: 200px;
	height: auto;
}
.small_photo {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
.buttons {
	margin: 0 40px;
}
.instructions {
	margin: 30px 0 0 0;
}