<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Londrina+Shadow|Slabo+27px' rel='stylesheet' type='text/css'>
	<link href='/stylesheets/about_style.css' rel='stylesheet' type='text/css'>
	<title>Rachel Lee: About</title>
</head>
<body>
	<header>
		<img src="http://i.imgur.com/w6hAdWCm.jpg">
		<h1>Rachel Lee</h1>
	</header>
	<div class="about_me">
		<h2>About Me</h2>
		<h3>Intro</h3>
		<p>
			- Born and raised in Hong Kong
			<br> - 3 citizenships: Hong Kong, Brazil & Portugal
			<br> - Travel to Brazil every year to visit my family there
			<br> - Have an awesome baby (1 minute younger) twin brother
		</p>
		<h3>Education</h3>
		<p>
			High school: Chinese International School (Hong Kong), 2012
			<br> University: Stanford University, B.A. Economics in 2016
			<br> - Intensive Portuguese at the Pontifical Catholic University of Rio de Janeiro
		</p>
		<h3>Interests</h3>
		<p> - Travelling
			<img class='small_image' src="https://scontent.xx.fbcdn.net/hphotos-xap1/t31.0-8/1519583_10152766032003314_1900325682565274210_o.jpg"></p>
		<p> - Exploring the outdoors (hiking, skiing, etc.) 
			<img class='small_image' src="https://scontent.xx.fbcdn.net/hphotos-xpa1/t31.0-8/10931058_10203544802963856_738941521893838391_o.jpg"></p>
		<p> - Trying new restaurants
			<img class='small_image' src="https://scontent.xx.fbcdn.net/hphotos-xat1/v/t1.0-9/11329801_10152940729816911_99751985372062971_n.jpg?oh=128b0dc107f2acb23ccbb3d505931c04&oe=56284585"></p>
		<p> - Personal growth/improvement 
			<img class='small_image' src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/10353193_10155084559405657_6217758288229381793_n.jpg?oh=b083e298e60ab69f433498624a97bde5&oe=56334365&__gda__=1445994496_7351866f2426c8ccd76b0a9959a44a2d"></p>
		<p> - Adrenaline - roller coasters, skydiving, paragliding, etc.
			<img class='small_image' src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/1621693_10153910275450657_2133760245_n.jpg?oh=dcdc01dd970f9e9a16643605a6855f2c&oe=562AADE2&__gda__=1445737800_625247f687387f377a19d32563fc6e80"></p>
		<p> - Education, particularly in developing countries for empowerment 
			<img class='small_image' src="https://scontent.xx.fbcdn.net/hphotos-prn2/v/t1.0-9/224533_2112466824654_7382164_n.jpg?oh=e7eabd7e8edf132ef253c915b268f563&oe=562B4F6E"></p>
		<p> - Business side of technology </p>
	</div>	
	<div class="navigation">
		<h3>Navigation</h3>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>
</body>
</html>