<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Londrina+Shadow|Slabo+27px' rel='stylesheet' type='text/css'>
	<link href='/stylesheets/home_style.css' type='text/css' rel='stylesheet'>
	<title>Rachel Lee</title>
</head>
<body>
	<header>
		<img src="http://i.imgur.com/w6hAdWCm.jpg">
		<h1>Rachel Lee</h1>
	</header>
	<div class="about_me">
		<h4>Hi! I'm Rachel, a rising senior at Stanford from Hong Kong.</h4>
		<p>Click <a href="/about">here</a> to find out more...</p>
	</div>	
</body>
</html>