<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Londrina+Shadow|Slabo+27px' rel='stylesheet' type='text/css'>
	<title>Rachel Lee</title>
	<style>
		header {
			text-align: center;
		  	background: url("http://i.imgur.com/lpDsgQt.jpg");
		  	background-size: cover;
		  	background-position: center;
		  	min-width: 100%;
		}
		body {
			font-family: 'Slabo 27px', serif;
			margin: 0 auto;
		}
		img {
		      object-fit: cover;
		      text-align: center;
		      margin: 40px 0 0 0;
		      border: 5px solid white;
		      border-radius: 50%;
		      width: 250px;
		      height: 250px;
		}
		div {
			background-size: cover;
			position: relative;
		}
		header h1 {
		  	font-family: 'Londrina Shadow', cursive;
		  	font-size: 50px;
		  	font-weight: bold;
		}
		h1 {
			padding: 0 0 40px 0;
			text-align: center;
			font-family: 'Abril Fatface', serif;
			color: white;
		}
		a {
			color: #87ceeb;
			font-weight: bold;
		}
		ul {
			padding: 0;
			margin: 0;
		}
		.about_me {
			padding: 0 100px 20px 100px;
		}
	</style>
</head>
<body>
	<header>
		<img src="http://i.imgur.com/w6hAdWCm.jpg">
		<h1>Rachel Lee</h1>
	</header>
	<div class="about_me">
		<h4>Hi! I'm Rachel, a rising senior at Stanford from Hong Kong.</h4>
		<p>Click <a href="/about">here</a> to find out more...</p>
	</div>	
</body>
</html>